.testimonials {
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
}

.testimonials2{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.testimonial-card {
    width: 480px;
    min-height: 180px;
    border: 1px solid #DA06FF;
    padding: 20px;
    position: relative;
    border-radius: 30px;
    /* margin-left: 5px; */
    color: #B8B3C3;
    transform: scale(0.9);
    transition: 0.3s all ease-out;
}

.testimonial-card:hover {
    transform: scale(1);
    cursor: pointer;
    color: #0D0225;
    background: linear-gradient(252deg, rgba(133, 1, 255, 0.20) 1.68%, rgba(255, 109, 3, 0.20) 44.44%, rgba(218, 6, 255, 0.20) 100%);
}


.test-line {
    margin-top: 20px;
    width: 98%;
    height: 1px;
    background: linear-gradient(#8501FF, #FF6D03, #DA06FF);
}

.test-top {
    display: flex;
    align-items: center;
    gap: 30px;
}

.test-name>p {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.test-img{
    width: 60px;
    height: 60px;
}

.test-img > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.test-bottom {
    margin-top: 30px;
}

.test-bottom>p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

@media (max-width: 480px) {
    .testimonials{
        margin-top: 40px;
    }
    .right-marquee{
        display: none;
    }

    .testimonial-card{
        width: 260px;
    }

    .test-img{
        width: 39px;
        height: 39px;
    }
}